<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/front/common :: headSrc('고객문의')}">
</head>
<link rel="stylesheet" th:href="@{/front/css/bootstrap.css}">

<body class="stretched">
	<div id="wrapper" class="clearfix">
		<section id="openContact">
			<div class="call_center_num">
			 <div class="inner-left">
		          <h3 class="label">바이온 고객센터</h3>
		          <h1 class="num">
		            <a class="tel" href="tel:0315722272">031-572-2272</a>
		          </h1>
		          <p class="pb-2"><small class="hours">평일 09:00–18:00 (점심 12:00–13:00)</small></p>
	          </div>
	          <div class="pb-3">
		          <a class="btn" href="tel:0315722272">전화걸기</a>
	          </div>
	        </div>
			<div class="content-wrap">
			
				<div class="container">
						<div class="postcontent">
							<form action="/clientInsert" method="post"
								enctype="multipart/form-data">
								
								<div class="form-group">
									<label for="template-contactform-topic">문의 주제</label>
									<select id="template-contactform-topic" name="topic" class="sm-form-control">
										<option value="none">-- 선택 --</option>
										<option value="제품정보관련">제품정보관련</option>
										<option value="제휴관련">제휴관련</option>
										<option value="기업제휴관련">기업제휴관련</option>
										<option value="기타문의">기타문의</option>
									</select>
								</div>
								<div class="form-group">
									<label for="template-contactform-name">성함<small>*</small></label>
									<input type="text" id="template-contactform-name" name="name"
										class="sm-form-control" required="required" />
								</div>

								<div class="form-group">
									<label for="template-contactform-company">회사명</label> <input type="text" id="template-contactform-company" name="company"
										class="sm-form-control" />
								</div>

								<div class="form-group">
									<label for="template-contactform-email">이메일<small>*</small></label>
									<input type="text" id="template-contactform-email" name="email" required="required"
										class="sm-form-control" />
								</div>

								<div class="form-group">
									<label for="template-contactform-phone">연락처<small>*</small>
									</label> <input type="text" id="template-contactform-phone" name="phone"
										required="required" class="sm-form-control" />
								</div>

								<div class="form-group">
									<label for="template-contactform-country">국가명</label> <input type="text" id="template-contactform-country" name="country"
										class="sm-form-control" />
								</div>

								<div></div>

								<div class="form-group">
									<label for="template-contactform-title">문의 제목<small>*</small>
									</label> <input type="text" id="template-contactform-title" name="subject"
										required="required" class="sm-form-control" />
								</div>

								<div class="form-group">
									<label for="template-contactform-message">내용 <small>*</small>
									</label>
									<textarea class="required sm-form-control" id="template-contactform-message"
										name="comment" required="required" rows="6" cols="30"></textarea>
								</div>
								<div class="col-12 form-group">
									<label for="template-contactform-file">파일 업로드</label> <input type="file" id="template-contactform-file" name="file"
										class="sm-form-control" /> <span class="alert-text">
												1회 업로드 가능 용량은 20MB입니다.<small>[&nbsp;jpg | jpeg | pdf | png | zip&nbsp;]등록가능</small></span>
								</div>
								<div id="policyEmbed" style="margin-top:10px;">
								  <div style="border:1px solid #eee; background:#fff; border-radius:10px; padding:12px 6px 12px 12px;">
								  	<h4>※ 개인 정보 처리방침 이용약관</h4>
								    <iframe id="policyFrame" src="/front/company/privacy-policy/iframe" 
								    style="width:100%; height:25vh; border:0; display:block; border-radius:8px;"></iframe>
								  </div>
								</div>
								<div class="form-check">
									<input type="checkbox" class="form-check-input"
										style="margin-left: -0.5rem; margin-right: 5px;"
										id="policyCheck"> <label class="form-check-label"
										for="policyCheck">개인정보의 수집 및 이용에 동의합니다.</label>
								</div>
								<div class="form-group">
									<button class="button button-3d" type="submit"
										id="contactBtn">메시지 보내기</button>
								</div>
							</form>
						</div>
					</div>
				</div>
		</section>
</div>


<th:block th:replace="~{/fragments/front/common :: scriptSrc}"></th:block>
<script src="/front/js/contact.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelector('#openPolicy')
      .addEventListener('click', (e) => window.open(e.currentTarget.dataset.url, '_blank'));
  });
</script>

</body>
</html>