<!DOCTYPE html>
<html dir="ltr" lang="ko" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="~{/fragments/front/common :: headSrc('바이온라이프사이언스 참고자료 페이지')}">
</head>
<link rel="stylesheet" th:href="@{/front/css/imports/company.css}">


<body class="stretched">

	<div id="wrapper" class="clearfix">

		<th:block
			th:replace="~{/fragments/front/common :: headerSrc(false, ${menuList})}"></th:block>
			
		<section id="snb" class="clearfix p-lg-4">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><a href="/index">메인</a></li>
				<li class="breadcrumb-item active">자료실</li>
			</ol>
		</section>	

		<div id="page-title" class="center">
			<h1 class="sec-head">자료실</h1>
		</div>

		<section id="content" class="references-body">
		 <div class="content-wrap">
		  <div class="container clearfix">
		   <div class="row gutter-40 col-mb-80">
		    <div class="postcontent col-lg-12 order-lg-last">
		     <div class="reference-table">
		     <table class="table table-bordered table-hover text-center align-middle">
		      <colgroup>
		       <col class="col-thumb">
		       <col class="col-subject">
		       <col class="col-date">
		       <col class="col-down">
		      </colgroup>
		      <thead>
		       <tr>
		        <th scope="col" class="col-thumb-cell">미리보기</th>
		        <th scope="col">파일명</th>
		        <th scope="col">등록일</th>
		        <th scope="col">다운로드</th>
		       </tr>
		      </thead>
		      <tbody>
		       <tr th:each="f : ${file}">
		        <!-- 이미지 미리보기 -->
		        <td class="col-thumb-cell">
			        <div class="reference-files">
				         <img th:src="@{${f.fileroad}}" alt="product brochure">
		              </div>
		        </td>
		
		        <!-- 파일 제목 -->
		        <td class="text-start ps-2" th:text="${@enText.pick(f.filesubject, f.filesubjectEn)}">파일제목</td>
		
		        <!-- 등록일 -->
		        <td class="ref-date" th:text="${#dates.format(f.filedate, 'yyyy-MM-dd')}">2023-07-05</td>
		
		        <!-- 다운로드 버튼 -->
		        <td>
		         <a th:href="@{${f.fileroad}}" download class="btn btn-sm btn-custom-color ref-download" aria-label="다운로드">
		          <i class="icon-download"></i><span class="ref-download__text">다운로드</span>
		         </a>
		        </td>
		       </tr>
		      </tbody>
		     </table>
		     </div>
		
		    </div>
		   </div>
		  </div>
		 </div>
		</section>


		<th:block th:replace="~{/fragments/front/common :: footerSrc}"></th:block>
	</div>
	<th:block th:replace="~{/fragments/front/common :: scriptSrc}"></th:block>

</body>
</html>