<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="~{/fragments/front/common :: headSrc('바이온라이프사이언스 참고자료 페이지')}">
</head>
<link rel="stylesheet" th:href="@{/front/css/imports/company.css}">

<style>
@media (max-width:991px) {
  .btn-vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 4px;
    line-height:1.2;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 40px !important;
    height: 120px !important;
    padding: 0 !important;
  }
}
</style>

<body class="stretched">

	<div id="wrapper" class="clearfix">

		<th:block
			th:replace="~{/fragments/front/common :: headerSrc(false, ${menuList})}"></th:block>

		<div id="page-title" class="center">
			<h1 class="sec-head">자료실</h1>
		</div>

		<section id="content" class="references-body">
		 <div class="content-wrap">
		  <div class="container clearfix">
		   <div class="row gutter-40 col-mb-80">
		    <div class="postcontent col-lg-12 order-lg-last">
		     <table class="table table-bordered table-hover text-center align-middle">
		      <thead>
		       <tr>
		        <th scope="col" style="width:5%;">미리보기</th>
		        <th scope="col" style="width:70%">파일명</th>
		        <th scope="col">등록일</th>
		        <th scope="col" style="width:3%;">다운로드</th>
		       </tr>
		      </thead>
		      <tbody>
		       <tr th:each="f : ${file}">
		        <!-- 이미지 미리보기 -->
		        <td>
			        <div class="reference-files">
				         <img th:src="@{${f.fileroad}}" alt="product brochure">
		              </div>
		        </td>
		
		        <!-- 파일 제목 -->
		        <td class="text-start ps-2" th:text="${f.filesubject}">파일제목</td>
		
		        <!-- 등록일 -->
		        <td th:text="${#dates.format(f.filedate, 'yyyy-MM-dd')}">2023-07-05</td>
		
		        <!-- 다운로드 버튼 -->
		        <td>
		         <a th:href="@{${f.fileroad}}" download class="btn btn-sm btn-custom-color btn-vertical">
		          <i class="icon-download"></i> 다운로드
		         </a>
		        </td>
		       </tr>
		      </tbody>
		     </table>
		
		    </div>
		   </div>
		  </div>
		 </div>
		</section>


		<th:block th:replace="~{/fragments/front/common :: footerSrc}"></th:block>
	</div>
	<th:block th:replace="~{/fragments/front/common :: scriptSrc}"></th:block>

</body>
</html>