<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light"
	data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none"
	data-preloader="disable" xmlns:th="http://www.thymeleaf.org">

<head th:replace="program/fragments/common :: headSrc"></head>

<body>

	<div id="layout-wrapper">

		<header id="page-topbar"
			th:replace="program/fragments/common :: headerMenu"></header>

		<div class="app-menu navbar-menu"
			th:replace="program/fragments/common :: navMenu">
			<div class="sidebar-background"></div>
		</div>
		<div class="vertical-overlay"></div>
		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-12">
							<div
								class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h4 class="mb-sm-0">BRAND PRODUCT OVERFALL</h4>

								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item"><a
											href="javascript: void(0);">BRAND Manage Center</a></li>
										<li class="breadcrumb-item active">BRAND Prorduct Overall</li>
									</ol>
								</div>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header align-items-center d-flex">
									<h4 class="card-title mb-0 flex-grow-1">검색 필터</h4>
								</div>

								<div class="card-body">
									<p class="text-muted">
										# <code>검색 조건</code> 을 선택하여 원하는 검색을 진행할 수 있습니다.<br> 
										# 한 페이지에 보고 싶은 <code>검색 결과의 수</code> 를 조정할 수 있습니다.<br>
										# <code>제품명 / 분류명</code> 을 통해 검색이 가능합니다.<br> 
										# <code>체크박스를 체크한 상태</code> 로 검색 시 해당 단어가 포함된 모든 결과가 표시됩니다.
									</p>
									<div class="live-preview">
										<form action="/admin/brandCenter/productOverall">
											<div class="row gy-2 gx-3 mb-3 align-items-center">
												<div class="col-sm-auto">
													<label class="visually-hidden">페이지사이즈</label> <select
														class="form-select" th:name="size" id="pageSize">
														<option th:value="10"
															th:selected="${sortable.pageable.pageSize}=='10'">10개씩
															보기</option>
														<option th:value="30"
															th:selected="${sortable.pageable.pageSize}=='30'">30개씩
															보기</option>
														<option th:value="50"
															th:selected="${sortable.pageable.pageSize}=='50'">50개씩
															보기</option>
														<option th:value="100"
															th:selected="${sortable.pageable.pageSize}=='100'">100개씩
															보기</option>
													</select>
												</div>
												<div class="col-sm">
													<label class="visually-hidden">브랜드</label> 
													<select class="form-control" id="brandProductBrandId" name="brandId">
														<option value="">=== 브랜드 선택 ===</option>
														<option th:each="b:${brands}" 
														th:text="${b.name}" 
														th:value="${b.id}"
														th:selected="${brandId == b.id}"></option>
													</select>
												</div>
												<div class="col-sm">
													<label class="visually-hidden">대분류</label> 
													<select class="form-control" name="brandBigSortId" id="brandProductBigSortId">
														<option value="">=== 대분류 선택 ===</option>
														<option th:each="b:${bigsorts}" th:text="${b.name}"
															th:value="${b.id}" th:selected="${bigId == b.id}"></option>
													</select>
												</div>
												<div class="col-sm">
													<label class="visually-hidden">중분류</label> 
													<select class="form-control" name="brandMiddleSortId" id="brandProductMiddleSortId">
														<option selected value="">== 중분류 선택 ==</option>
														<option th:each="m:${middlesorts}" th:text="${m.name}"
															th:value="${m.id}" th:selected="${middleId == m.id}"></option>
													</select>
												</div>
												<div class="col-sm">
													<label class="visually-hidden">소분류</label> 
													<select class="form-control" name="brandSmallSortId" id="brandProductSmallSortId">
														<option selected value="">== 소분류 선택 ==</option>
														<option th:each="s:${smallsorts}" th:text="${s.name}"
															th:value="${s.id}" th:selected="${smallId == s.id}"></option>
													</select>
												</div>
												<div class="col-sm-auto">
													<button type="submit" class="btn btn-primary">검색
														하기</button>
												</div>
												<div class="col-sm-auto">
													<div>
														<a href="/admin/brandCenter/productOverall"
															class="btn btn-danger"> 검색 초기화</a>
													</div>
												</div>
												<div class="col-sm-auto">
													<div>
														<a href="/admin/productInsertForm" class="btn btn-success"><i
															class="ri-add-line align-bottom me-1"></i> 제품등록</a>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">BionLifeScience 제품 INDEX 관리</h4>
                                </div>

                                <div class="card-body">
                                    <p class="text-muted"># <code>드래그 앤 드랍</code>을 통해 제품/소분류/중분류/대분류 사이의 표시순서를 변경할 수 있습니다.<br>
                                    # <code>같은 등급의 요소끼리만</code> 순서를 변경할 수 있습니다.<br>
                                    # 변경 완료 후 <code>확인 버튼</code>클릭시 변경된 순서로 적용 됩니다.<br>
                                    <div class="col-sm-auto">
										<div>
											<button id="indexChangeBtn" class="btn btn-success">컴포넌트 인덱스 변경</button>
										</div>
									</div>
                                    <div class="list-group col nested-list nested-sortable">
                                        <div class="list-group-item nested-1 sortable-items" th:each="o:${sortable}" th:id="${o.id}"> 
                                        	<span th:if="${code} == 'product'"><i class="mdi mdi-language-css3 fs-16 align-middle text-secondary me-2"></i>[[${o.subject}]]</span>
                                        	<span th:if="${code} == 'smallsort' or ${code} == 'middlesort' or ${code} == 'bigsort' or ${code} == 'brand'"><i class="mdi mdi-folder fs-16 align-middle text-warning me-2"></i>[[${o.name}]]</span>
                                        	<input type="hidden" th:value="${code}" name="code" id="code">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
						class="row g-0 text-center text-sm-start align-items-center mb-4">
						<div class="col-sm-12">
							<ul class="pagination justify-content-center">
								<li class="page-item"
									th:classappend="${1 == sortable.pageable.pageNumber+1} ? 'disabled'">
									<a class="page-link" href="#"
									th:href="@{/admin/productCenter/productOverall(page=0, size=${param.size}, smallId = ${smallId}, middleId=${middleId}, bigId=${bigId})}"
									tabindex="-1" aria-disabled="true">First</a>
								</li>
								<li class="page-item"
									th:classappend="${1 == sortable.pageable.pageNumber+1} ? 'disabled'">
									<a class="page-link" href="#"
									th:href="@{/admin/productCenter/productOverall(page=${sortable.pageable.pageNumber - 1}, size=${param.size}, smallId = ${smallId}, middleId=${middleId}, bigId=${bigId})}"
									tabindex="-1" aria-disabled="true">Previous</a>
								</li>
								<li class="page-item" th:if="${sortable.totalElements}!=0"
									th:classappend="${i == sortable.pageable.pageNumber+1} ? 'disabled'"
									th:each="i : ${#numbers.sequence(startPage, endPage)}"><a
									class="page-link" href="#" th:text=${i}
									th:href="@{/admin/productCenter/productOverall(page=${i-1}, size=${param.size}, smallId = ${smallId}, middleId=${middleId}, bigId=${bigId})}">1</a>
								</li>
								<li class="page-item"
									th:classappend="${sortable.totalPages == sortable.pageable.pageNumber + 1} ? 'disabled'">
									<a class="page-link" href="#"
									th:href="@{/admin/productCenter/productOverall(page=${sortable.pageable.pageNumber + 1}, size=${param.size}, middleId=${middleId}, bigId=${bigId})}">Next</a>
								</li>
								<li class="page-item"
									th:classappend="${sortable.totalPages == sortable.pageable.pageNumber + 1} ? 'disabled'">
									<a class="page-link" href="#"
									th:href="@{/admin/productCenter/productOverall(page=${sortable.totalPages-1}, size=${param.size}, smallId = ${smallId}, middleId=${middleId}, bigId=${bigId})}">Last</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<th:block th:replace="program/fragments/common :: footerSrc"></th:block>
		</div>
	</div>
	<th:block th:replace="program/fragments/common :: settingBlock"></th:block>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js" integrity="sha256-ipiJrswvAR4VAx/th+6zWsdeYmVae0iJuiR+6OqHJHQ=" crossorigin="anonymous"></script>
	<th:block th:replace="program/fragments/common :: scriptSrc"></th:block>
	<script th:inline="javascript">
		var brandId = /*[[${brand}]]*/ 'default';
   		var bigId = /*[[${bigId}]]*/ 'default';
   		var middleId = /*[[${middleId}]]*/ 'default';
   		var smallId = /*[[${smallId}]]*/ 'default';
    </script>
	<script src="/administration/program/brand/programProductManager.js"></script>
    <script src="/administration/program/assets/libs/sortablejs/Sortable.min.js"></script>
	<script src="/administration/program/brand/nestable.init.js"></script>
</body>

</html>