<!DOCTYPE html>
<html lang="KO" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/admin/common :: headMenu}">


</head>
</head>

<style>
/* 인증서 목록. 예전에는 한 건이 화면 한 폭을 차지해서 몇 개 있는지도 안 보였다.
   줄 하나에 한 건씩 놓고, 이미지는 작은 미리보기로 줄인다. */
.cert-table td { vertical-align: middle; }
.cert-thumb {
	width: 72px; height: 96px; object-fit: cover;
	border: 1px solid var(--bn-line); border-radius: 4px; background: var(--bn-surface-2);
}
.cert-subject { font-weight: 600; color: var(--bn-ink); }
.cert-content { color: var(--bn-ink-2); line-height: 1.6; }
.cert-none { text-align: center; color: var(--bn-ink-4); padding: 28px 0 !important; }
</style>

<body>
	<section id="container">
		<th:block th:replace="~{fragments/admin/common :: headMenu}"></th:block>
		<th:block th:replace="~{fragments/admin/common :: sideMenu('certification')}"></th:block>
		<section id="main-content">
			<section class="wrapper">
				<div class="row mt">
					<div class="col-lg-8">
						<div class="form-panel">
							<form action="/admin/certificationInsert" method="POST" enctype="multipart/form-data" class="form-horizontal style-form">
								<div class="row">
									<div class="form-group col-12 col-md-12 col-lg-12">
										<div class="col-md-12 col-xs-11">
											<input class="form-control form-control-inline" 
											type="text" 
											name="subject"
											required="required"> 
											<span class="help-block"># 인증서의 SUBJECT 문구를 입력 해 주세요.</span>
										</div>
										<div class="col-md-12 col-xs-11" style="margin-top:20px;">
											<input class="form-control form-control-inline" 
											type="text" 
											name="content"
											required="required"> 
											<span class="help-block"># 인증서의 CONTENT 문구를 입력 해 주세요.</span>
										</div>
										<div class="col-md-12 col-xs-11" style="margin-top:20px;">
											<select class="form-control form-control-inline" 
											name="sort"
											required="required"> 
												<option value="">=== 분류를 선택하세요 ===</option>
												<option value="특허인증">특허인증</option>
												<option value="기업인증">기업인증</option>
												<option value="기타인증">기타인증</option>
											</select>
											<span class="help-block"># 인증서의 분류를 선택 해 주세요.</span>
										</div>
										<div class="col-md-12 col-xs-11" style="margin-top:20px;">
											<div class="fileupload fileupload-new"
												data-provides="fileupload">
												<span class="btn btn-warning btn-file" style="width:100%;"> 
													<span class="fileupload-new"><i class="fa fa-paperclip"></i>Select file</span> 
													<span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span> 
													<input 
													type="file"
													class="default"
													name="webFile"
													id="webFile"
													required="required" />
												</span> 
												<span class="fileupload-preview" style="margin-left: 5px;"></span>
												<a href="#" class="close fileupload-exists" 
													data-dismiss="fileupload"
													style="float: none; margin-left: 5px;"></a>
											</div>
											<span class="help-block"># 인증서 이미지를 업로드 해 주세요.</span>
											<span class="help-block"># 최적화된 사이즈는 420px * 600px 입니다.</span>
											<span class="help-block"># 파일은 jpeg/png/jpg 확장자를 지원 합니다.</span>
										</div>
										<div class="col-md-12 col-xs-11" style="margin-top:20px;">
											<button type="submit" class="btn btn-theme">등록</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="row mt">
					<div class="col-md-8">
						<div class="form-panel">
							<h4><i class="fa fa-tasks"></i> 바이온라이프사이언스 - 인증서 관리</h4>
							<table class="table table-hover cert-table">
								<thead>
									<tr>
										<th style="width:96px;">미리보기</th>
										<th style="width:96px;">분류</th>
										<th style="width:220px;">SUBJECT</th>
										<th>CONTENT</th>
										<th style="width:70px;">관리</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="b:${certifications}">
										<td><img class="cert-thumb" th:src="${b.road}" th:alt="${b.subject}"></td>
										<td><span class="label label-default" th:text="${b.sort} ?: '분류 없음'">분류</span></td>
										<td class="cert-subject" th:text="${b.subject}">제목</td>
										<td class="cert-content" th:text="${b.content}">내용</td>
										<td>
											<button class="btn btn-danger btn-xs" th:onclick="|deleteCertification('${b.id}')|">
												<i class="fa fa-trash-o"></i> 삭제
											</button>
										</td>
									</tr>
									<tr th:if="${#lists.isEmpty(certifications)}">
										<td colspan="5" class="cert-none">등록된 인증서가 없다.</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</section>
		</section>
	</section>
	<th:block th:replace="~{fragments/admin/common :: scriptSrc}"></th:block>
	<script src="/administration/lib/jquery-ui-1.9.2.custom.min.js"></script>
	<script type="text/javascript"
		src="/administration/lib/bootstrap-fileupload/bootstrap-fileupload.js"></script>
	<script type="text/javascript"
		src="/administration/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript"
		src="/administration/lib/bootstrap-daterangepicker/date.js"></script>
	<script type="text/javascript"
		src="/administration/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script type="text/javascript"
		src="/administration/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript"
		src="/administration/lib/bootstrap-daterangepicker/moment.min.js"></script>
	<script type="text/javascript"
		src="/administration/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
	<script src="/administration/lib/advanced-form-components.js"></script>
	<script>
	$(function(){
		
		$("#file").on('change', function (e) {
	    	var size = 0;
	    	for(var i=0;i<e.target.files.length;i++){
	    		size += e.target.files[i].size;
	    	}
	    	if(size > 30000000){
	    		alert('1회 업로드 가능 용량은 30MB입니다.');
	    		$(this).val('');
	    		return;
	    	}
	    });

	});
	function deleteCertification(id){
		var result = confirm('해당 인증서를 삭제 하시겠습니까?');
		if(result){
			location.href="/admin/deleteCertification/" + id;
		}
	}
	  
	</script>
</body>

</html>
