<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/admin/common :: headMenu">

</head>


<body>
	<section id="container">

		<th:block th:replace="fragments/admin/common :: headMenu"></th:block>

		<th:block th:replace="fragments/admin/common :: sideMenu('notice')"></th:block>

		<section id="main-content">
			<section class="wrapper">
				<div class="row mt">
					<div class="col-lg-8">
						<h4>
							<i class="fa fa-angle-right"></i> 공지사항분류 관리
						</h4>
						<div class="form-panel">
							<div class="form">
								<form class="cmxform form-horizontal style-form" id="textForm">
									<div class="form-group ">
										<label for="firstname" class="control-label col-lg-2">공지사항 분류 입력</label>
										<div class="col-lg-10">
											<input 
											class="form-control" 
											id="text" 
											name="text" 
											type="text" />
											<button class="btn btn-theme" type="button" onclick="insertNoticeSubject();" style="margin-top:10px;">입력</button>
											<p class="help-block">* 공지사항의 분류를 입력 해 주세요.</p>
											<p class="help-block">* 입력한 분류는 [공지사항등록]시 사용됩니다.</p>
											<p class="help-block">* 사이트 접속자는 입력한 분류를 통해 공지사항을 정렬할 수 있습니다.</p>
										</div>
									</div>
									<div class="form-group ">
										<label for="lastname" class="control-label col-lg-2">공지사항 분류 삭제</label>
										<div class="col-lg-10">
											<select class="form-control" multiple="multiple" id="textDelSelect">
												<option th:each="s:${subject}" th:text="${s.text}" th:value="${s.id}">bion01@bion.co.kr</option>
											</select>
											<button class="btn btn-danger" id="textDelBtn" type="button" style="margin-top:10px;">삭제</button>
											<p class="help-block">* 공지사항 분류를 삭제할 수 있습니다.</p>
											<p class="help-block">* 공지사항 분류를 드래그 하여 동시에 여러개를 삭제할 수 있습니다.</p>
											<p class="help-block">* 해당 분류가 적용된 공지사항이 있는 경우 공지사항을 먼저 삭제 후 분류를 삭제하시기 바랍니다.</p>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
	</section>
	<th:block th:replace="fragments/admin/common :: scriptSrc"></th:block>
	<script src="/administration/lib/noticeSubjectManager.js"></script>
</body>

</html>