<!DOCTYPE html>
<html lang="KO" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/admin/common :: headMenu}">
</head>

<style>
.table td, 
.table th {
  vertical-align: middle !important; 
  text-align: center; 
}
</style>

<body>
	<section id="container">
		<th:block th:replace="~{fragments/admin/common :: headMenu}"></th:block>
		<th:block th:replace="~{fragments/admin/common :: sideMenu('reference')}"></th:block>
		<section id="main-content">
			<section class="wrapper">
				<div class="row mt">
					<div class="col-lg-8">
						<div class="form-panel">
							<form action="/admin/referenceFileInsert" method="POST" enctype="multipart/form-data" class="form-horizontal style-form">
								<div class="row">
									<div class="form-group col-12 col-md-12 col-lg-12">
										<div class="col-md-5 col-xs-11">
											<input class="form-control form-control-inline" 
											size="16"
											type="text" 
											name="filesubject"> 
											<span class="help-block"># 파일 제목을 입력 해 주세요.</span>
											<span class="help-block"># 실제 파일명이 아닌 사이트 접속자가 보게 되는 이름을 의미합니다.</span>
											<span class="help-block"># 빈칸으로 입력시 실제 파일명으로 보여집니다.</span>
										</div>
										<div class="col-md-6 col-xs-11">
											<div class="fileupload fileupload-new"
												data-provides="fileupload">
												<span class="btn btn-warning btn-file" style="width:100%;"> 
													<span class="fileupload-new"><i class="fa fa-paperclip"></i>Select file</span> 
													<span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span> 
													<input 
													type="file"
													class="default"
													name="file"
													required="required"
													id="file" />
												</span> 
												<span class="fileupload-preview" style="margin-left: 5px;"></span>
												<a href="#" class="close fileupload-exists" 
													data-dismiss="fileupload"
													style="float: none; margin-left: 5px;"></a>
											</div>
											<span class="help-block"># 업로드 할 파일을 선택 하세요.</span>
											<span class="help-block"># 1회 업로드 가능 용량은 30MB입니다.</span>
											<span class="help-block"># 파일은 jpeg/png/jpg/pdf 확장자를 지원 합니다.</span>
										</div>
										<div class="col-md-1 col-xs-11">
											<button type="submit" class="btn btn-theme">등록</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="row mt">
					<div class="col-md-8">
						<section class="task-panel tasks-widget">
							<div class="panel-heading">
								<div class="pull-left">
									<h5>
										<i class="fa fa-tasks"></i> 바이온라이프사이언스 - 자료실 파일 관리
									</h5>
								</div>
								<br>
							</div>
							<div class="panel-body">
								<div class="task-content">
									<table class="table table-bordered table-hover text-center align-middle">
									  <thead>
									    <tr>
									      <th style="width:120px;">미리보기</th>
									      <th>파일명</th>
									      <th>등록일</th>
									      <th style="width:100px;">확장자</th>
									      <th style="width:150px;">다운로드</th>
									      <th style="width:150px;">관리</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr th:each="f : ${files}">
									      <td>
									        <!-- 이미지 -->
									        <img th:if="${#strings.toLowerCase(f.fileextension) matches '(.png|.jpg|.jpeg|.gif)'}"
									             th:src="@{${f.fileroad}}" 
									             style="max-width:100px; max-height:80px; object-fit:contain;" />
									
									        <!-- PDF -->
									        <embed th:if="${#strings.toLowerCase(f.fileextension) == '.pdf'}"
									               th:src="@{${f.fileroad}}#page=1&view=FitH"
									               type="application/pdf"
									               style="width:100px; height:80px;" />
									
									        <!-- 기타 -->
									        <i th:if="${!(#strings.toLowerCase(f.fileextension) matches '(.png|.jpg|.jpeg|.gif|.pdf)')}"
									           class="fa fa-file fa-2x text-muted"></i>
									      </td>
									
									      <td th:text="${f.filesubject}">파일제목</td>
									      <td th:text="${#dates.format(f.filedate, 'yyyy-MM-dd')}">2023-07-05</td>
									      <td th:text="${f.fileextension}">.png</td>
									      <td>
									        <a th:href="@{${f.fileroad}}" download class="btn btn-sm btn-primary">
									          <i class="icon-download"></i> 다운로드
									        </a>
									      </td>
									      <td>
									        <!-- 수정 버튼 → 모달로 데이터 전달 -->
									        <button type="button"
											        class="btn btn-sm btn-warning btn-update"
											        data-toggle="modal"
											        data-target="#updateModal"
											        th:attr="data-id=${f.id}, data-subject=${f.filesubject}">
											  <i class="fa fa-edit"></i> 수정
											</button>
									        <button class="btn btn-sm btn-danger"
									                th:onclick="|deleteReferenceFile('${f.id}')|">
									          <i class="fa fa-trash-o"></i>
									        </button>
									      </td>
									    </tr>
									  </tbody>
									</table>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>
		</section>
	</section>
	
	<!-- 수정 모달 -->
	<div class="modal fade" id="updateModal" tabindex="-1">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <form action="/admin/referenceUpdate" method="POST" enctype="multipart/form-data">
	        <div class="modal-header">
	          <h5 class="modal-title">파일 수정</h5>
	          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	        </div>
	        <div class="modal-body">
	          <input type="hidden" name="id" id="modalFileId">
	
	          <div class="mb-3">
	            <label class="form-label">파일 제목</label>
	            <input type="text" class="form-control" name="filesubject" id="modalFileSubject">
	          </div>
	
	          <div class="mb-3">
	            <label class="form-label">파일 교체 (선택)</label>
	            <input type="file" class="form-control" name="file">
	            <small class="text-muted">선택하지 않으면 기존 파일 유지</small>
	          </div>
	        </div>
	        <div class="modal-footer">
	          <button type="submit" class="btn btn-success">저장</button>
	          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
	        </div>
	      </form>
	    </div>
	  </div>
	</div>

	<th:block th:replace="~{fragments/admin/common :: scriptSrc}"></th:block>
	<script src="/administration/lib/jquery-ui-1.9.2.custom.min.js"></script>
	<script type="text/javascript"
		src="/administration/lib/bootstrap-fileupload/bootstrap-fileupload.js"></script>
	<script type="text/javascript"
		src="/administration/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript"
		src="/administration/lib/bootstrap-daterangepicker/date.js"></script>
	<script type="text/javascript"
		src="/administration/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script type="text/javascript"
		src="/administration/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript"
		src="/administration/lib/bootstrap-daterangepicker/moment.min.js"></script>
	<script type="text/javascript"
		src="/administration/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
	<script src="/administration/lib/advanced-form-components.js"></script>
	<script>
	$(function(){
		
		$("#file").on('change', function (e) {
	    	var size = 0;
	    	for(var i=0;i<e.target.files.length;i++){
	    		size += e.target.files[i].size;
	    	}
	    	if(size > 30000000){
	    		alert('1회 업로드 가능 용량은 30MB입니다.');
	    		$(this).val('');
	    		return;
	    	}
	    });

	});
	function deleteReferenceFile(id){
		var result = confirm('해당 파일을 삭제 하시겠습니까?');
		if(result){
			location.href="/admin/deleteReferenceFile/" + id;
		}
	}
	
	document.addEventListener('DOMContentLoaded', function () {
	  var updateModal = document.getElementById('updateModal');
	  updateModal.addEventListener('show.bs.modal', function (event) {
	    var button = event.relatedTarget;
	    var id = button.getAttribute('data-id');
	    var subject = button.getAttribute('data-subject');

	    document.getElementById('modalFileId').value = id;
	    document.getElementById('modalFileSubject').value = subject;
	  });
	});
	
	
	$(document).on("click", ".btn-update", function() {
	    var fileId = $(this).data("id");           // 버튼에 data-id 속성
	    var fileSubject = $(this).data("subject"); // 버튼에 data-subject 속성

	    $("#modalFileId").val(fileId);
	    $("#modalFileSubject").val(fileSubject);
	    
	    $("#updateModal").modal("show");
	});
	</script>
</body>

</html>
