<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="/fragments/front/common :: headSrc('바이온라이프사이언스 찾아오시는 길')">

</head>

<body class="stretched">

	<div id="wrapper" class="clearfix">

		<th:block
			th:replace="/fragments/front/common :: headerSrc(false, ${menuList})"></th:block>
		<section id="page-title">

			<div class="container clearfix">
				<h1>찾아오시는 길</h1>
				<span>Bion Life Science Address</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/index">메인</a></li>
					<li class="breadcrumb-item active" aria-current="page">찾아오시는 길</li>
				</ol>
			</div>

		</section>
		<!-- Location (Map) -->
		<section id="location" class="about-body section-last">
			<div class="p-wrap">
				<div class="loc-wrap">
					<iframe class="map-box p-item" data-speed="0.14"
						src="https://www.google.com/maps?q=경기도+남양주시+순화궁로+282&output=embed"
						width="400%" height="220" style="border: 0;" allowfullscreen loading="lazy"> </iframe>

					<div class="addr p-item" data-speed="0.22">
						<dl>
							<dt>주소</dt>
							<dd>경기도 남양주시 순화궁로 282, 에이스하이엔드타워 10층</dd>
							<dt>대표번호</dt>
							<dd>031-572-2272</dd>
							<dt>대중교통</dt>
							<dd>지하철 8호선, 경춘선 별내역</dd>
						</dl>
						<div class="btn-row">
							<button class="btn alt"
								onclick="window.open('https://map.naver.com/v5/search/경기도%20남양주시%20순화궁로%20282', '_blank')">네이버
								지도</button>
							<button class="btn alt"
								onclick="window.open('https://map.kakao.com/?q=경기도 남양주시 순화궁로 282', '_blank')">카카오
								지도</button>
							<button class="btn alt"
								onclick="window.open('https://www.google.com/maps/search/?api=1&query=경기도+남양주시+순화궁로+282', '_blank')">Google
								Maps</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<th:block th:replace="/fragments/front/common :: footerSrc"></th:block>
	</div>
	<th:block th:replace="/fragments/front/common :: scriptSrc"></th:block>

</body>
</html>