<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/admin/common :: headMenu">

</head>


<body>
	<section id="container">

		<th:block th:replace="fragments/admin/common :: headMenu"></th:block>
		<th:block th:replace="fragments/admin/common :: sideMenu('brand')"></th:block>

		<section id="main-content">
			<section class="wrapper">
				<div class="row mt">
					<div class="col-lg-10">
						<h4>
							<i class="fa fa-angle-right"></i> 브랜드 관리
						</h4>
						<span class="alsert-messate">* 브랜드를 등록 및 삭제할 수 있습니다.</span><br>
						<span class="alsert-messate">* 대분류/중분류/소분류/제품등록이 존재하는 브랜드는 삭제할 수 없습니다.</span><br>
						<span class="alsert-messate">* 대분류/중분류/소분류/제품등록을 먼저 삭제 후 브랜드 삭제가 가능합니다.</span>
						<div class="form-panel" id="brandPanel">
							<form 
							role="form" 
							class="form-horizontal style-form" 
							method="POST" 
							enctype="multipart/form-data"
							action="/admin/brandUpdate">
								<div class="form-group has-success">
									<label class="col-lg-2 control-label">브랜드명</label>
									<div class="col-lg-10">
										<input 
										type="text" 
										placeholder="브랜드 명칭 ex) Adidas"
										class="form-control" 
										name="name"
										required="required"
										th:value="${brand.name}">
										<input type="hidden" th:value="${brand.id}" name="id">
										<p class="help-block">* 브랜드명을 입력해 주세요</p>
									</div>
								</div>
								<div class="form-group has-success">
									<label class="col-lg-2 control-label">브랜드 이미지</label>
									<div class="col-lg-10">
										<input 
										type="file" 
										class="form-control" 
										name="files">
										<p class="help-block">* 1920px * 460px의 사이즈에 최적화 되어 있습니다.</p>
										<p class="help-block">* jpg / jpeg / png 확장자를 지원 합니다.</p>
										<p class="help-block">* 변경없이 수정시 기존의 이미지를 사용합니다.</p>
									</div>
								</div>
								<div class="form-group has-success">
									<label class="col-lg-2 control-label">브랜드 소개</label>
									<div class="col-lg-10">
										<textarea 
										class="form-control" 
										name="content"
										placeholder="브랜드 소개 ex) 멋진 신발을 만드는 회사"
										required="required"
										th:text="${brand.content}"></textarea>
									</div>
									<div class="col-lg-offset-2 col-lg-10">
										<button class="btn btn-danger" type="submit" style="margin-top: 10px;">수정</button>
										<button class="btn btn-theme" type="button" onclick="javascript:location.href='/admin/brandManager'" style="margin-top: 10px;">확인</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</section>
	</section>
	<th:block th:replace="fragments/admin/common :: scriptSrc"></th:block>
	<script src="/administration/lib/brandManager.js"></script>
</body>

</html>