<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="/fragments/front/common :: headSrc('바이온라이프사이언스 제품 개요')">

</head>

<body class="stretched">

	<div id="wrapper" class="clearfix">

		<th:block
			th:replace="/fragments/front/common :: headerSrc(false, ${menuList})"></th:block>
		<section id="page-title">

			<div class="container clearfix">
				<h1>제품 개요</h1>
				<span>Bion Life Science Products Overall</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">메인</a></li>
					<li class="breadcrumb-item active" aria-current="page">제품 개요</li>
				</ol>
			</div>

		</section>
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row gutter-40 col-mb-80 justify-content-between">
						<div class="postcontent col-lg-8 order-lg-last">
							<div id="posts" class="row grid-container gutter-30">

								<div class="entry col-6">
									<div class="grid-inner">
										<div class="entry-image mb-2">
											<a href="/front/images/blog/full/17.jpg" data-lightbox="image"><img
												src="/front/images/blog/standard/17.jpg"
												alt="#"></a>
										</div>
										<div class="entry-title">
											<h2>
												<a href="#">제품 분류가 입력 되는 영역입니다[Tubes]</a>
											</h2>
										</div>
										<div class="entry-meta">
											<ul>
												<li><i class="icon-calendar3"></i> 가장 최근에 [Tubes]에 제품이 등록된 날짜입니다.</li>
												<li><i class="icon-folder-open"></i> # 제품특징, #제품특징</li>
												<li><a href="#"><i class="icon-comments"></i> [Tubes]카테고리에 총 등록된 제품의 종류입니다.</a></li>
											</ul>
										</div>
										<div class="entry-content mt-1">
											<p>간단한 제품에 대한 설명이 들어가는 영역입니다.</p>
											<a href="#" class="more-link">[Tubes]카테고리의 제품들만 볼 수 있는 페이지로 연결 됩니다.</a>
										</div>
									</div>
								</div>

								<div class="entry col-6">
									<div class="grid-inner">
										<div class="entry-image mb-2">
											<a href="/front/images/blog/full/17.jpg" data-lightbox="image"><img
												src="/front/images/blog/standard/17.jpg"
												alt="#"></a>
										</div>
										<div class="entry-title">
											<h2>
												<a href="#">제품 분류가 입력 되는 영역입니다[Dish]</a>
											</h2>
										</div>
										<div class="entry-meta">
											<ul>
												<li><i class="icon-calendar3"></i> 가장 최근에 [Dish]에 제품이 등록된 날짜입니다.</li>
												<li><i class="icon-folder-open"></i> # 제품특징, #제품특징</li>
												<li><a href="#"><i class="icon-comments"></i> [Dish]카테고리에 총 등록된 제품의 종류입니다.</a></li>
											</ul>
										</div>
										<div class="entry-content mt-1">
											<p>간단한 제품에 대한 설명이 들어가는 영역입니다.</p>
											<a href="#" class="more-link">[Dish]카테고리의 제품들만 볼 수 있는 페이지로 연결 됩니다.</a>
										</div>
									</div>
								</div>
								<div class="entry col-6">
									<div class="grid-inner">
										<div class="entry-image mb-2">
											<a href="/front/images/blog/full/17.jpg" data-lightbox="image"><img
												src="/front/images/blog/standard/17.jpg"
												alt="#"></a>
										</div>
										<div class="entry-title">
											<h2>
												<a href="#">제품 분류가 입력 되는 영역입니다[Container]</a>
											</h2>
										</div>
										<div class="entry-meta">
											<ul>
												<li><i class="icon-calendar3"></i> 가장 최근에 [Container]에 제품이 등록된 날짜입니다.</li>
												<li><i class="icon-folder-open"></i> # 제품특징, #제품특징</li>
												<li><a href="#"><i class="icon-comments"></i> [Container]카테고리에 총 등록된 제품의 종류입니다.</a></li>
											</ul>
										</div>
										<div class="entry-content mt-1">
											<p>간단한 제품에 대한 설명이 들어가는 영역입니다.</p>
											<a href="#" class="more-link">[Container]카테고리의 제품들만 볼 수 있는 페이지로 연결 됩니다.</a>
										</div>
									</div>
								</div>
								<div class="entry col-6">
									<div class="grid-inner">
										<div class="entry-image mb-2">
											<a href="/front/images/blog/full/17.jpg" data-lightbox="image"><img
												src="/front/images/blog/standard/17.jpg"
												alt="#"></a>
										</div>
										<div class="entry-title">
											<h2>
												<a href="#">[SAMPLE PRODUCT]</a>
											</h2>
										</div>
										<div class="entry-meta">
											<ul>
												<li><i class="icon-calendar3"></i> 2023.04.01</li>
												<li><i class="icon-comments"></i> # 컨테이너, # 실험기구</li>
												<li><i class="icon-folder-open"></i>38 개</li>
											</ul>
										</div>
										<div class="entry-content mt-1">
											<p>간단한 제품에 대한 설명이 들어가는 영역입니다.</p>
											<a href="#" class="more-link">전체 보기 <i class="icon-line-arrow-right"></i></a>
										</div>
									</div>
								</div>

							</div>
							<div class="d-flex justify-content-center mt-5">
								<ul class="pagination pagination-inside-transparent pagination-pill">
								  <li class="page-item disabled"><a class="page-link disabled" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
								  <li class="page-item disabled"><a class="page-link disabled" href="#">1</a></li>
								  <li class="page-item active"><a class="page-link" href="#">2</a></li>
								  <li class="page-item"><a class="page-link" href="#">3</a></li>
								  <li class="page-item"><a class="page-link" href="#">Next</a></li>
								</ul>
							</div>
						</div>
						<div class="sidebar col-lg-3">
							<div class="sidebar-widgets-wrap">
								<div class="border-top-0 m-0">
									<div class="heading-block mb-3">
										<h4># Quick Link</h4>
									</div>
								</div>
								<div class="toggle">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-ok-circle"></i> <i
												class="toggle-open icon-remove-circle"></i>
										</div>
										<div class="toggle-title">Tubes</div>
									</div>
									<div class="toggle-content sidebar-menu-toggle">
										<ul>
											<li><a href="/productDetail">Screw Caps and Tubes <i class="icon-line-arrow-right"></i> </a></li>
											<li><a href="/productDetail">Extraction tubes and caps <i class="icon-line-arrow-right"></i></a></li>
											<li><a href="/productSorted">Tube 제품 전체보기 <i class="icon-line-arrow-right"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="toggle">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-ok-circle"></i> <i
												class="toggle-open icon-remove-circle"></i>
										</div>
										<div class="toggle-title">Container</div>
									</div>
									<div class="toggle-content sidebar-menu-toggle">
										<ul>
											<li><a href="/productDetail">Transport container <i class="icon-line-arrow-right"></i> </a></li>
											<li><a href="/productSorted">Container 제품 전체보기 <i class="icon-line-arrow-right"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="toggle">
									<div class="toggle-header">
										<div class="toggle-icon">
											<i class="toggle-closed icon-ok-circle"></i> <i
												class="toggle-open icon-remove-circle"></i>
										</div>
										<div class="toggle-title">Dish</div>
									</div>
									<div class="toggle-content sidebar-menu-toggle">
										<ul>
											<li><a href="/productDetail">Petri Dish <i class="icon-line-arrow-right"></i> </a></li>
											<li><a href="/productDetail">Cell culture Dish <i class="icon-line-arrow-right"></i> </a></li>
											<li><a href="/productSorted">Dish 제품 전체보기 <i class="icon-line-arrow-right"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- <div class="widget clearfix">
									<div class="tabs mb-0 clearfix" id="sidebar-tabs">

										<ul class="tab-nav clearfix">
											<li><a href="#tabs-1">많이 본 제품</a></li>
											<li><a href="#tabs-2">최근 등록 제품</a></li>
										</ul>

										<div class="tab-container">

											<div class="tab-content clearfix" id="tabs-1">
												<div class="posts-sm row col-mb-30"
													id="popular-post-list-sidebar">
													<div class="entry col-12">
														<div class="grid-inner row g-0">
															<div class="col-auto">
																<div class="entry-image">
																	<a href="#">
																	<img src="/front/images/blog/standard/17.jpg" alt="#"></a>
																</div>
															</div>
															<div class="col ps-3">
																<div class="entry-title">
																	<h4>
																		<a href="#">이곳은 상세페이지 조회수가 가장 높은 제품의 이미지가 위치합니다.</a>
																	</h4>
																</div>
															</div>
														</div>
													</div>

													<div class="entry col-12">
														<div class="grid-inner row g-0">
															<div class="col-auto">
																<div class="entry-image">
																	<a href="#"><img src="/front/images/blog/standard/17.jpg" alt="#"></a>
																</div>
															</div>
															<div class="col ps-3">
																<div class="entry-title">
																	<h4>
																		<a href="#">이곳은 상세페이지 조회수가 가장 높은 제품의 이미지가 위치합니다.</a>
																	</h4>
																</div>
															</div>
														</div>
													</div>

													<div class="entry col-12">
														<div class="grid-inner row g-0">
															<div class="col-auto">
																<div class="entry-image">
																	<a href="#"><img src="/front/images/blog/standard/17.jpg" alt="#"></a>
																</div>
															</div>
															<div class="col ps-3">
																<div class="entry-title">
																	<h4>
																		<a href="#">이곳은 상세페이지 조회수가 가장 높은 제품의 이미지가 위치합니다.</a>
																	</h4>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="tab-content clearfix" id="tabs-2">
												<div class="posts-sm row col-mb-30"
													id="recent-post-list-sidebar">
													<div class="entry col-12">
														<div class="grid-inner row g-0">
															<div class="col-auto">
																<div class="entry-image">
																	<a href="#"><img src="/front/images/blog/standard/17.jpg" alt="#"></a>
																</div>
															</div>
															<div class="col ps-3">
																<div class="entry-title">
																	<h4>
																		<a href="#">이곳은 최근에 등록된 제품의 이미지와 이름이 위치합니다.</a>
																	</h4>
																</div>
															</div>
														</div>
													</div>

													<div class="entry col-12">
														<div class="grid-inner row g-0">
															<div class="col-auto">
																<div class="entry-image">
																	<a href="#"><img src="/front/images/blog/standard/17.jpg" alt="#"></a>
																</div>
															</div>
															<div class="col ps-3">
																<div class="entry-title">
																	<h4>
																		<a href="#">이곳은 최근에 등록된 제품의 이미지와 이름이 위치합니다.</a>
																	</h4>
																</div>
															</div>
														</div>
													</div>

													<div class="entry col-12">
														<div class="grid-inner row g-0">
															<div class="col-auto">
																<div class="entry-image">
																	<a href="#"><img src="/front/images/blog/standard/17.jpg" alt="#"></a>
																</div>
															</div>
															<div class="col ps-3">
																<div class="entry-title">
																	<h4>
																		<a href="#">이곳은 최근에 등록된 제품의 이미지와 이름이 위치합니다.</a>
																	</h4>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<th:block th:replace="/fragments/front/common :: footerSrc"></th:block>
	</div>
	<th:block th:replace="/fragments/front/common :: scriptSrc"></th:block>

</body>
</html>