<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/front/common :: headSrc('바이온라이프사이언스 공지사항')">

</head>

<body class="stretched">

	<div id="wrapper" class="clearfix">

		<th:block
			th:replace="/fragments/front/common :: headerSrc(false, ${menuList})"></th:block>
		<section id="page-title">

			<div class="container clearfix">
				<h1>공지사항</h1>
				<span>BionLifeScience Notice</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">메인</a></li>
					<li class="breadcrumb-item active" aria-current="page">공지사항</li>
				</ol>
			</div>

		</section>
		<section id="content">

			<div class="content-wrap p-b-0">

				<div class="container clearfix">
					<div class="card notice-search-form"
						style="background-color: #fff; border-radius: 0px;">
						<div class="card-body" style="padding: 20px">
							<div class="form-widget">
								<form class="row mb-0" action="#" method="post"
									enctype="multipart/form-data">
									<div class="col-lg-12 mt-4 mt-lg-0">
										<div class="row">
											<div
												class="input-daterange travel-date-group col-12 bottommargin-sm">
												<div class="row">
													<div class="col-md-3 col-3">
														<label for="booking-registration-check-in">검색어 입력
															: </label> <input type="text" value=""
															class="sm-form-control border-form-control text-start"
															placeholder="Keywords">
													</div>
													<div class="col-md-3 col-3">
														<label for="booking-registration-check-out">시작일 선택
															: </label> <input type="date" value=""
															class="sm-form-control required border-form-control text-start">
													</div>
													<div class="col-md-3 col-3">
														<label for="booking-registration-check-out">종료일 선택
															: </label> <input type="date" value=""
															class="sm-form-control required border-form-control text-start">
													</div>
													<div class="col-3">
														<div class="mb-4">
															<label>공지사항 주제 선택 : </label> <select
																class="sm-form-control border-form-control">
																<option value="#" selected="selected">주제를 선택
																	하세요</option>
																<option value="#">제품 관련</option>
																<option value="#">협업 관련</option>
																<option value="#">기타 공지</option>
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-wrap">
				<div class="container clearfix">
					<div id="posts" class="row grid-container gutter-30">
						<div class="entry col-12">
							<div class="grid-inner row g-0">
								<div class="col-md-4">
									<div class="entry-image">
										<a href="/front/images/portfolio/4/3.jpg" data-lightbox="image"><img src="/front/images/portfolio/4/3.jpg" alt="Standard Post with Image"></a>
									</div>
								</div>
								<div class="col-md-8 ps-md-4">
									<div class="entry-title title-sm">
										<h2><a href="/noticeDetail">공지사항 제목이 들어가는 자리 입니다.</a></h2>
									</div>
									<div class="entry-meta">
										<ul>
											<li><i class="icon-calendar3"></i> 2023.01.01</li>
											<li><a href="#"><i class="icon-user"></i> 관리자</a></li>
											<li><i class="icon-folder-open"></i> <a href="#"> # 공지사항분류</a></li>
										</ul>
									</div>
									<div class="entry-content">
										<p>공지사항의 내용 중 일부가 보여지는 자리 입니다...</p>
										<a href="/noticeDetail" class="more-link">자세히 보기</a>
									</div>
								</div>
							</div>
						</div>
						<div class="entry col-12">
							<div class="grid-inner row g-0">
								<div class="col-md-4">
									<div class="entry-image">
										<a href="/front/images/portfolio/4/3.jpg" data-lightbox="image"><img src="/front/images/portfolio/4/3.jpg" alt="Standard Post with Image"></a>
									</div>
								</div>
								<div class="col-md-8 ps-md-4">
									<div class="entry-title title-sm">
										<h2><a href="/noticeDetail">공지사항 제목이 들어가는 자리 입니다.</a></h2>
									</div>
									<div class="entry-meta">
										<ul>
											<li><i class="icon-calendar3"></i> 2023.01.01</li>
											<li><a href="#"><i class="icon-user"></i> 관리자</a></li>
											<li><i class="icon-folder-open"></i> <a href="#"> # 공지사항분류</a></li>
										</ul>
									</div>
									<div class="entry-content">
										<p>공지사항의 내용 중 일부가 보여지는 자리 입니다...</p>
										<a href="/noticeDetail" class="more-link">자세히 보기</a>
									</div>
								</div>
							</div>
						</div>
						<div class="entry col-12">
							<div class="grid-inner row g-0">
								<div class="col-md-4">
									<div class="entry-image">
										<a href="/front/images/portfolio/4/3.jpg" data-lightbox="image"><img src="/front/images/portfolio/4/3.jpg" alt="Standard Post with Image"></a>
									</div>
								</div>
								<div class="col-md-8 ps-md-4">
									<div class="entry-title title-sm">
										<h2><a href="/noticeDetail">공지사항 제목이 들어가는 자리 입니다.</a></h2>
									</div>
									<div class="entry-meta">
										<ul>
											<li><i class="icon-calendar3"></i> 2023.01.01</li>
											<li><a href="#"><i class="icon-user"></i> 관리자</a></li>
											<li><i class="icon-folder-open"></i> <a href="#"> # 공지사항분류</a></li>
										</ul>
									</div>
									<div class="entry-content">
										<p>공지사항의 내용 중 일부가 보여지는 자리 입니다...</p>
										<a href="/noticeDetail" class="more-link">자세히 보기</a>
									</div>
								</div>
							</div>
						</div>
						<div class="entry col-12">
							<div class="grid-inner row g-0">
								<div class="col-md-4">
									<div class="entry-image">
										<a href="/front/images/portfolio/4/3.jpg" data-lightbox="image"><img src="/front/images/portfolio/4/3.jpg" alt="Standard Post with Image"></a>
									</div>
								</div>
								<div class="col-md-8 ps-md-4">
									<div class="entry-title title-sm">
										<h2><a href="/noticeDetail">공지사항 제목이 들어가는 자리 입니다.</a></h2>
									</div>
									<div class="entry-meta">
										<ul>
											<li><i class="icon-calendar3"></i> 2023.01.01</li>
											<li><a href="#"><i class="icon-user"></i> 관리자</a></li>
											<li><i class="icon-folder-open"></i> <a href="#"> # 공지사항분류</a></li>
										</ul>
									</div>
									<div class="entry-content">
										<p>공지사항의 내용 중 일부가 보여지는 자리 입니다...</p>
										<a href="/noticeDetail" class="more-link">자세히 보기</a>
									</div>
								</div>
							</div>
						</div>
						<div class="entry col-12">
							<div class="grid-inner row g-0">
								<div class="col-md-4">
									<div class="entry-image">
										<a href="/front/images/portfolio/4/3.jpg" data-lightbox="image"><img src="/front/images/portfolio/4/3.jpg" alt="Standard Post with Image"></a>
									</div>
								</div>
								<div class="col-md-8 ps-md-4">
									<div class="entry-title title-sm">
										<h2><a href="/noticeDetail">공지사항 제목이 들어가는 자리 입니다.</a></h2>
									</div>
									<div class="entry-meta">
										<ul>
											<li><i class="icon-calendar3"></i> 2023.01.01</li>
											<li><a href="#"><i class="icon-user"></i> 관리자</a></li>
											<li><i class="icon-folder-open"></i> <a href="#"> # 공지사항분류</a></li>
										</ul>
									</div>
									<div class="entry-content">
										<p>공지사항의 내용 중 일부가 보여지는 자리 입니다...</p>
										<a href="/noticeDetail" class="more-link">자세히 보기</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-between mt-5">
						<a href="#" class="btn btn-outline-secondary">&larr; Older</a> <a
							href="#" class="btn btn-outline-dark">Newer &rarr;</a>
					</div>

				</div>
			</div>
		</section>

		<th:block th:replace="/fragments/front/common :: footerSrc"></th:block>
	</div>
	<th:block th:replace="/fragments/front/common :: scriptSrc"></th:block>

</body>
</html>
