<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/front/common :: headSrc('바이온라이프사이언스 공지사항')">
</head>
<link rel="stylesheet" th:href="@{/front/css/imports/company.css}">

<body class="stretched">

	<div id="wrapper" class="clearfix">

		<th:block th:replace="/fragments/front/common :: headerSrc(false, ${menuList})"></th:block>


		<div id="page-title">
			<h1 class="sec-head">공지 사항</h1>
		</div>

		<section id="content">
			<div class="search-container">
				<div class="search_module">
					<form th:action="@{notice}" method="get" class="search-container">
						<input class="search_bar__input" id="q" th:value="${q}" type="text" placeholder="검색어를 입력하세요.">
						<button class="search__btn" type="submit">
							<i class="bi bi-search"></i>
						</button>
					</form>
				</div>
			</div>
			<div class="notice_body">
				<table>
					<colgroup>
						<col width="75px">
						<col width="auto">
						<col width="175px">		
					</colgroup>
					<thead>
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>날짜</th>
						</tr>
					</thead>	
					<tbody th:each="i:${notice}">
						<tr th:id="@{|faq-${i.id}|}">
							<td th:text="${i.id}"></td>	
							<td class="table__subject"><a th:href="@{'/noticeDetail/' + ${i.id}}" th:text="${i.subject}"></a></td>
							<td th:text="${i.date} != null ? ${#dates.format(i.date,'yyyy-MM-dd')} : '-'"></td>						
						</tr>
						<tr th:if="${#lists.isEmpty(notice)}">
					      <td colspan="3">검색 결과가 없습니다.</td>
					    </tr>
					</tbody>			
				
				</table>
			</div>	
		</section>
		

		<th:block th:replace="/fragments/front/common :: footerSrc"></th:block>
	</div>
	<th:block th:replace="/fragments/front/common :: scriptSrc"></th:block>
	
	
	<script>
	  const q = document.querySelector('.search_bar__input');
	  q.addEventListener('focus', () => {
	    if (!q.dataset.cleared) {         // 처음 포커스일 때만
	      q.value = '';
	      q.dataset.cleared = '1';
	    }
	  });
	</script>

</body>
</html>
