<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/front/common :: headSrc('바이온라이프사이언스 검색페이지')}">
</head>

<style>

.search-body .grid-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.search-body .entry {
  display: flex;
  flex-direction: column;
}

</style>

<body class="stretched">

	<div id="wrapper" class="clearfix">

		<th:block
			th:replace="~{/fragments/front/common :: headerSrc(false, ${menuList})}"></th:block>
			<section id="snb" class="clearfix">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/index">메인</a></li>
					<li class="breadcrumb-item active" aria-current="page">검색 페이지</li>
				</ol>
			</section>
		<section id="content">
			<div class="content-wrap p-t-0" style="margin-top:50px;">
				<div class="container clearfix">
				<div class="border-top-0 m-0">
						<div class="container text-center">

							<div class="heading-block center">
								<h2>Search</h2>
								<span>바이온라이프사이언스 검색페이지</span>
							</div>
						</div>
					</div>
					<div class="divider">
						<i class="icon-circle"></i><span>브랜드제품검색 : 총 [[${brandProducts.size}]]건 검색</span>
					</div>
					<div class="row gutter-40 col-mb-80 search-body">
						<div class="postcontent col-lg-12 order-lg-last">
							<div class="row grid-container gutter-30">
								<div class="entry col-lg-3 col-xs-6" th:each="product : ${brandProducts}">
									<div class="grid-inner">
										<div class="entry-image mb-2">
											<a th:href="@{|/brandProductDetail/${product.id}|}">
											<img th:src="${product.firstImageRoad}" loading="lazy" alt="#"></a>
										</div>
										<div class="entry-title">
											<h3 style="font-size:16px;">
												<a th:href="@{|/brandProductDetail/${product.id}|}" th:text="${product.subject}">Screw Caps and Tubes</a>
											</h3>
										</div>
										<div class="entry-meta">
											<span style="color:gray; font-size:12px;">
											  [[${product.smallSort?.name}]] 
											  [[${product.smallSort?.middleSort?.name}]] 
											  [[${product.smallSort?.middleSort?.bigSort?.name}]]
											</span>
										</div>
										<div class="entry-content mt-1">
											<p style="font-size:14px;" th:text="${product.content}">간단한 제품에 대한 설명이 들어가는 영역입니다.</p>
											<a th:href="@{|/brandProductDetail/${product.id}|}" class="more-link">자세히 보기 <i class="icon-line-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<th:block th:replace="~{/fragments/front/common :: footerSrc}"></th:block>
	</div>
	<th:block th:replace="~{/fragments/front/common :: scriptSrc}"></th:block>
	
<script>

//isotope 초기화 이후 추가
$(window).on('resize', function () {
  var ww = $(window).width();

  if (ww <= 991) {
    // 태블릿 크기에서는 2열 배치
    $('.grid-container .entry').css({
      width: '50%',
    });
  } else {
   // PC에서는 기본 (4열)
    $('.grid-container .entry').css({
      width: '25%',
    });
  }

  // 레이아웃 재계산
  $('.grid-container').isotope('layout');
});

// 페이지 로드 시에도 한 번 실행
$(window).trigger('resize');

</script>	
	

</body>
</html>
